body{background-color:#ffffff;}
h1{ font-family: 'Carter One', arial, serif; font-size:5em; text-align:center;}
h2{ font-family: 'Carter One', arial, serif; text-align:center;}
h3{ font-family: 'Carter One', arial, serif; text-align:center;}
.container{font-family:"Trebuchet MS", Sans-Serif;}

#uberform{font-size:1em; min-height:150px;}
.loading{display:none}
.keyword, .add{cursor:pointer}
.keyword:hover{color:#568c20; font-weight:bold;}
.infobox{background-color:#568c20; padding:.8em;margin-bottom:1em;border:2px solid #ddd; color:#fff}
//#result ul{list-style-type: none;}
#basket{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.basket{display:none;}
.empty{color:#cccccc;}
.add, .remove{vertical-align:middle;}
#paypal{margin-left:auto; margin-right:auto; width:147px;}
#logo{margin-left:auto; margin-right:auto; width:124px; margin-top:30px;}
#letter-menu{text-align:center; padding:.8em;margin-bottom:1em;border:2px solid #ddd; }
a.logo:link{text-decoration:none; color:#000000;}
a.logo:visited{text-decoration:none; color:#000000;}
a.logo:link{text-decoration:none; color:#000000;}
a.logo:hover{text-decoration:none; color:#000000}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}
/* Container */
#simplemodal-container {height:360px; width:422px; color:#bbb; background-color:#568c20; border:4px solid #152604; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/static/img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

//my edit
.pre_sug { float:left;}