<hr class="space">
<div id="tweets">
{% for tweet in tweets %}
<p class="tweet quiet">{{ tweet.text|urlize }} <span class="small">&mdash; posted {{tweet.created_at|timedeltaformat}} ago</span></p>
{% endfor %}
</div>
<a href="http://twitter.com/ubersuggest" class="twitter-follow-button" data-show-count="false">Follow @ubersuggest</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
