<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd"> 
<html>
    <head> 
        <link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
        <meta name="title" content="Übersuggest - Google suggest on steroids" />
        <meta name="description" content="Get thousands keywords ideas in a minute with this amazing keyword suggestion tool: Übersuggest is Google Suggest on steroids!" />
        <meta property="fb:admins" content="651673011" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <meta name="linkstant" content="987430" />
        <meta name="google-site-verification" content="SWAmSBFQYf-mXCMJ3VsSfD6SMOqBt-xCh8Utp3IO4Pk" />
        {% block meta %} {% endblock %}
        <title>Keyword suggestion tool &mdash; Google suggest scraper &mdash; &Uuml;bersuggest</title> 
        <!-- Framework CSS --> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/screen.css') }}" type="text/css" media="screen, projection"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/print.css') }}" type="text/css" media="print"> 
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/ie.css') }}" type="text/css" media="screen, projection"><![endif]--> 

        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" media="screen, projection"> 
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <script type=text/javascript   src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.simplemodal.1.4.1.min.js') }}"charset="utf-8"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.qtip-1.0.0-rc3.min.js') }}"charset="utf-8"></script>

        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        {% block script %} {% endblock %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17574109-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
     </head> 
     <body>
         <div class="container"> 
             <hr class="space" />
             <div id="leftcol" class="span-7"> 
                 <div class="infobox"> 
                     <h2>Suggest on steroids</h2>
                     <p>Get keyword ideas with &Uuml;bersuggest a
                         keyword tool powered by Google Suggest.</p>  
                     <p>Do you like this tool? <strong>Buy me a beer</strong> with a small donation. You will also help keep &Uuml;bersuggest ads free!</p>
                     <div id="paypal">
                         <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                             <input type="hidden" name="cmd" value="_s-xclick">
                             <input type="hidden" name="hosted_button_id" value="RQUSS9RULFK8Y">
                             <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                             <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/it_IT/i/scr/pixel.gif" width="1" height="1">
                         </form>
                     </div>
                     <p><strong>Übersuggest is now even more powerfull!  Play around and discover some of the
                             new features.. </strong>. 
                         Any comment or questions? <a href="{{ url_for('show_faq') }}">Read the FAQ!</a></strong></p>
                 <h2>How it works?</h2> 
                 <ul> 
                     <li>Write a term in the box</li> 
                     <li>Choose your language and click <strong>suggest</strong></li> 
                     <li> 
                         &Uuml;bersuggest takes your base term and extracts Google suggestions for it</li>
                     <li>Check <strong>txt</strong> to download the result in a text file</li>
                     <li>Clicking on each word you can get other suggestions!</li>
                 </ul>

                 <div id="logo">
                     <a href="http://flask.pocoo.org/">
                         <img border="0" alt="made with Flask" title="made with Flask" src="{{ url_for('static', filename='img/flask.png') }}"></a>
                 </div>
             </div>
         </div>
         <!--end left column-->
         <div id="content" class="span-11 append-1 prepend-1">
             <h1><a class="logo" href="/">&Uuml;bersuggest</a></h1>
             {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
             <div class="flashes">
                 {% for category, message in messages %}
                 <div class="{{ category }}">{{ message }}</div>
                 {% endfor %}
             </div>
             {% endif %}
             {% endwith %}

             {% block body %}
             {% endblock %}
             <hr />
             <hr class="space"/>
             <div id="footer">
             </div>
             <!--end footer-->
         </div>
         <!--end content-->
         <div id="rightcol" class="span-4 last">
             <g:plusone size="tall"></g:plusone>
             <hr class="space">
             <div class="">
                 <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsuggest.thinkpragmatic.net%2F&amp;layout=box_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=trebuchet+ms&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:65px;" allowTransparency="true"></iframe>
             </div>
             {%include '_twitter.html'%}
             <hr class="basket"/>
             <p><input type="button" id="downloader" class="basket" value="Download"></input></p>
             <ul id="basket" class="basket">
             </ul>
         </div>
         <!--end right column-->
     </div> <!-- end container --> 
     <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
     <script src="http://www.linkstant.com/linkstant.js" type="text/javascript"></script>
     <script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/9084.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
 </body>
</html>
