<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd"> 
<html>
    <head> 
        <link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
    <meta name="title" content="Übersuggest - Google suggest on steroids" />
    <meta name="description" content="Get thousands keywords ideas in a minute with this amazing keyword suggestion tool: Übersuggest is Google Suggest on steroids!" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta name="google-site-verification" content="SWAmSBFQYf-mXCMJ3VsSfD6SMOqBt-xCh8Utp3IO4Pk" />
        <title>Keyword suggestion tool &mdash; Google suggest scraper &mdash; &Uuml;bersuggest</title> 
        <style type="text/css">
        </style>
        <!-- Framework CSS --> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/screen.css') }}" type="text/css" media="screen, projection"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/print.css') }}" type="text/css" media="print"> 
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/ie.css') }}" type="text/css" media="screen, projection"><![endif]--> 

        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" media="screen, projection"> 
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17574109-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    </head> 

    <body>
        <div class="container"> 
            <hr class="space" />

            <div id="content" class="span-18 append-3 prepend-3">
                <h1 ><a class="logo" href="{{ url_for('prompt') }}">&Uuml;bersuggest</a></h1>
                <hr class="space" />

                {{ content }}

            </div>

            <!--end content-->
            <!-- end container --> 
        </div> 
    </body>
</html>

